---
const { buttonText, buttonId } = Astro.props;
---

<div>
  <button
    type="button"
    id={buttonId}
    class="py-2 px-4 text-lg font-medium rounded-lg border-2 border-slate-400 bg-slate-600 text-slate-200 transition-all duration-200 ease-in-out hover:bg-slate-400 hover:border-slate-700 hover:text-blue-600"
    >{buttonText}</button
  >
</div>
